.NavigationItems {
    margin-left: 80px;
    display: grid;
    position: relative;
    grid-template-columns: 400px 200px 200px 200px 200px;
    .Logo {
        margin-top: 10px;
        img {
            position: absolute;
            left: 0;
        }
    }
    .NavigationItem {
        display: flex;
        margin-top: 59px;
    }
}