.LoginInput {
    margin: 0 auto;
}
.LoginInput:nth-child(1) {
    margin-top: 100px;
    margin-bottom: 10px;
}
.LoginSubmit:hover {
    background-color: black;
    color: white;
}
.LoginSubmit {
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
    width: 150px;
    background-color: white;
}